/* Basic styles */
body {
    max-width: 1600px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    font-weight: normal;
    color: #333B41;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.btn {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    padding: 16px 1px 16px 5px;
    text-align: center;
    border: 0;

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    line-height: 140%;
}

.rounded {
    border-radius: 25px;
}

.fw-500 {
    font-weight: 500;
}

/* Header styles start */
.header {
    background-color: black;
    color: white;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    z-index: 5;
}

.header-start {
    display: inherit;
}

.petstore-logo {
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 4px;
}

.petstore-logo-bamboo-ico {
    position: relative;
    left: 7px;
    top: -31px;
    width: 12px;
    height: 32px;
    z-index: 2;
}

.petstore-logo-text {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.5px;
    text-align: center;
}

.petstore-logo-link {
    text-decoration: none;
}

.petstore-logo-link:hover, .petstore-logo-link:focus, .petstore-logo-link:active {
    opacity: 0.75;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 64px;
}

.nav-item {
    margin-right: 58px;
    color: white;
    list-style: none;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    text-decoration: none;
}

.nav-link-active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.nav-link:hover, .nav-link:focus, .nav-link:active {
    opacity: 0.75;
}

header .copyright {
    font-weight: 100;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 1.15px;
}

/* Header styles end */

/* Intro styles start */
.intro {
    background: url("../../assets/images/Giant Panda.jpg") no-repeat top center;
    background-size: cover;
    min-height: 780px;
}

.intro-header {
    font-weight: 700;
    font-size: 106.5px;
    line-height: 75%;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    max-width: 500px;
    left: calc(50% - 500px/2 + 330px);
    top: 94px;
}

.highlighted {
    color: #ffee2e;
}

.ellips {
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.intro .btn {
    position: absolute;
    left: calc(50% - 298px/2 + 332px);
    top: 625px;
}

.intro-btn-link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    line-height: 140%;
}

.intro-btn-link:hover, .intro-btn-link:focus, .intro-btn-link:active {
    opacity: 0.75;
}
/* Intro styles end */

.about-decoration {
    position: absolute;
    width: 293px;
    height: 605px;
    left: 1395px;
    top: 792px;
    background: url(../../assets/images/flower_foto1.png) no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Backstage styles start*/
.backstage .wrapper{
    height: 403px;
    margin: 141px auto 179px auto;
}

.backstage-content {
    display: grid;
    grid-template-columns: 609px 470px;
    grid-column-gap: 86px;
}

.backstage-header2 {
    margin-block-start: 0px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}

.backstage-desc {
    line-height: 130%;
    margin-bottom: 58px;
}

.backstage-header3 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 36px;
}

.backstage-picture {
    height: 403px;
    width: 609px;
    /*backdrop-filter: blur(2px);*/
}
/* Backstage styles end*/

/* Pets styles start */
.pets {
    background-image: url(../../assets/images/palm-photo.png), url(../../assets/images/strelitzia\ 1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: -588px 646px, bottom right;
    background-size: 880px, 368px;
    padding-bottom: 100px;
}

.animal-cards-scroller {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px -130px 80px -130px;
}

.arrow-elips {
    padding: 27px 23px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    margin: 20px;
}

.arrow-elips-link:hover, .arrow-elips-link:focus, .arrow-elips-link:active {
    opacity: 0.75;
}

.arrow-ico {
    display: block;
}

.arrow-elips:first-of-type .arrow-ico {
    transform: rotate(-180deg);
}

.animal-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.animal-card {
    box-sizing: border-box;
    width: 366px;
    height: 426px;

    border: 1px solid #FA6F32;
    border-radius: 5px;
    margin: 0;
}

.animal-card-img {
    /* width: 366px; */
    height: 365px;
    object-fit: contain;
    border-radius: 5px 5px 0 0;
}

.animal-card-desc {
    margin-left: 14px;
    line-height: 120%;
}

.animal-food-banana {
    margin-right: 12px;
    background: url(../../assets/icons/banana-bamboo_icon.svg) no-repeat right bottom;
}

.animal-food-meet {
    margin-right: 8px;
    background: url(../../assets/icons/meet-fish_icon.svg) no-repeat right center;
}

.animal-card-caption {
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    padding: 4px 0 0;
    border: 0;
    background: transparent;
}

.animal-card-origin {
    font-weight: 300;
    font-size: 15px;
    margin: 0;
}

.pets .btn {
    display: block;
    margin: 0 auto;
}
/* Pets styles end*/

/* Pick and feed section start */
.pick-and-feed {
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 70px 0 100px 0;
    line-height: 130%;
}

.pick-and-feed .wrapper {
    width: 1160px;
    height: 835px;
    border-radius: 20px;
    background-color: rgba(253, 253, 255, 0.52);
    padding: 40px 0px 60px 0px;
    color: #333B41;
}

.pick-and-feed-article {
    margin-bottom: 60px;
}

.pick-and-feed-header {
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-left: calc(50% - 1250px/2 - 1.5px);
}

.pick-and-feed-subtitle {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 38px;
}

.pick-and-feed-article p {
    padding-left: 100px;
    line-height: 120%;
}

.pick-and-feed-article p:first-of-type {
    line-height: 130%;
}

.pick-and-feed-article p:last-of-type {
    margin-block-start: 0.7em;
    max-width: 970px;
}

.pick-and-feed-link {
    text-decoration-color: #FE9013;
}

.pick-and-feed-link:hover, .pick-and-feed-link:focus, .pick-and-feed-link:active {
    opacity: 0.75;
}

.pick-and-feed h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 24px;
}

.pick-and-feed-workflow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 109px 48px 109px;
}

.pick-and-feed-step {
    width: 168px;
}

.pick-and-feed-step::after {
    background: #333B41;
    border: 0.5px solid #333B41;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.pick-and-feed-step-pic {
    width: 168px;
    height: 168px;
    border-width: 1px;
    border-style: solid;
    border-image:
        linear-gradient(
            113.96deg, #F9804B 1.49%, #FE9013 101.44%)
            1 1;

    border-radius: 5px;
    margin-bottom: 30px;
}

.pick-and-feed-step:nth-of-type(1) div {
    background: url(../../assets/icons/pay-ico.svg) no-repeat center center;
    background-color: white;
}

.pick-and-feed-step:nth-of-type(2) div {
    background: url(../../assets/icons/zoo-ico.svg) no-repeat center center;
    background-color: white;
}

.pick-and-feed-step:nth-of-type(3) div {
    background: url(../../assets/icons/monkey.svg) no-repeat center center;
    background-color: white;
}

.pick-and-feed .btn {
    margin-left: calc(50% - 298px/2);
}
/* Pick and feed section end */

/* Testimonials start */
.testimonials {
    background: url(../../assets/images/leav_foto.png) no-repeat 1354px 644px;
    padding: 122px 0 180px 0;
}

.testimonials h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
}

.testimonial-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    position: relative;
    /* padding-bottom: 29px; */
    margin-bottom: 20px;
}

.testimonial {
    box-sizing: border-box;
    width: 268px;
    height: 391px;
    border-radius: 20px;
    background: linear-gradient( #F1F3F2, #F1F3F2) padding-box,
                linear-gradient(135deg, rgba(241,243,242,1) 0%,rgba(243,169,248,1) 66%,rgba(254,189,171,1) 74%) border-box;
    border: 2px solid transparent;

    overflow: hidden;
}

.testimonial-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.testimonial .user-icon {
    width: 37px;
    height: 37px;
    margin-left: 14px;
    margin-top: 12px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.testimonial .user-icon:nth-of-type(3) {
    object-position: center;
}

.testimonial-header .user-name {
    font-weight: 400;
    line-height: 120%;

    margin-block-start: 12px;
    margin-block-end: 0px;
}

.testimonial-header .user-location {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    margin-block-start: 2px;
    margin-block-end: 0px;
    color: #BDBDBD;
}

.testimonial-header .user-location .separator {
    padding: 3px;
}

.testimonial-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    padding: 10px 14px 19px 14px;
    height: 316px;
    overflow: hidden;
}

.progress-bar {
    display: block;
    content:'';
    width: 599px;
    height: 8px;
    background: linear-gradient( #F1F3F2, #F1F3F2) padding-box,
                linear-gradient(135deg, rgba(241,243,242,1) 0%,rgba(243,169,248,1) 66%,rgba(254,189,171,1) 74%) border-box;
    border: 0.5px solid transparent;
    background: #F5F7F6;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.progress-bar-visible {
    width: 115.19px;
    height: 6px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}
/* Testimonials end */

/* Footer start */
.footer {
    background-color: #111115;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 34px;
    padding-top: 40px;
}

.subscribe-form {
    width: 367px;
}

.subscribe-form p {
    background-color: #111115;
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-block-start: 0px;
    margin-block-end: 14px;
}

.subscribe-form .email {
    background-color: #111115;
    font-size: 16px;
    line-height: 130%;
    color: #BDBDBD;
    border-radius: 2px;
    padding: 10px;
    border: 0.7px solid #F9804B;
    margin-right: 4px;
    width: 228px;
}

.subscribe-form .submit {
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
    padding: 10px 39px;
    background: #F1F3F2;
    border: 1px solid #4B9200;
}

.slightly-rounded {
    border-radius: 5px;
}

.footer .btn {
    margin-bottom: 28px;
}

.contacts-and-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.footer .contacts {
    list-style-type: none;
    padding-inline-start: 0;
}

.footer .contact-item {
    margin-bottom: 4px;
}

.footer .contact-item:last-of-type {
    margin-bottom: -5px;
}

.contact-link {
    text-decoration: none;
}

.contact-link:hover, .contact-link:focus, .contact-link:active {
    opacity: 0.75;
}

.footer .contact-item-ico {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    margin-right: 8px;
    border-radius: 50%;
    padding: 5px;
}

.footer .contact-item-name {
    color: white;
    font-size: 16px;
    line-height: 140%;
    vertical-align: super;
}

.footer .nav-links {
    padding-left: 118px;
}

.footer .copyright {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer .copyright p:first-of-type {
    margin-block-end: -0.35em;
}
/* Footer end */
