body {
    max-width: 1600px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    font-weight: normal;
    color: #333B41;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

/* Header styles start */

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    z-index: 5;
}

.header-start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 14px 0; */
}

.header {
    background-color: black;
    color: white;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.header-logo-link {
    text-decoration: none;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    padding-left: 60px;
}

.nav-item {
    margin-right: 58px;
    color: white;
    list-style: none;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    text-decoration: none;
}

.nav-link-active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.nav-link:hover, .nav-link:focus, .nav-link:active {
    opacity: 0.75;
}

.copyright {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

/* Header styles end */

/* Intro styles start */
.intro {
    background: url("../../assets/images/Giant Panda.png") no-repeat top center;
    background-size: cover;
    min-height: 780px;
    padding-top: 80px;
}

.intro-header {
    font-weight: 700;
    font-size: 106.5px;
    line-height: 75%;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    max-width: 500px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 86px;
}

.highlighted {
    color: #ffee2e;
}

.ellips {
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    border-radius: 50%;
    /* orange */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.intro .rounded-btn {
    position: absolute;
}

.rounded-btn {
    /* position: absolute; */
    width: 298px;
    height: 54px;

    /* orange */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    padding: 16px 1px 16px 5px;
    text-align: center;
    border: 0;

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    line-height: 140%;
}

.intro .rounded-btn {
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
}

.intro-btn-link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    line-height: 140%;
}
/* Intro styles end */

.about-decoration {
    position: absolute;
    width: 293px;
    height: 605px;
    left: 1400px;
    top: 792px; /*750*/

    background: url(../../assets/images/flower_foto1.png) no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* About styles start*/
.about {
    background: url(../../assets/images/strelitzia\ 1.png) no-repeat bottom right,
                url(../../assets/images/palm-photo.png) /*880px 460px*/ no-repeat -588px 2149px;

    padding-top: 102px;
}

.about .wrapper:first-of-type{
    height: 403px;
    margin-bottom: 180px;
}


.about .wrapper:last-of-type{
    height: 1400px;
}

.about-header2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}

.about-desc {
    line-height: 130%;
    margin-bottom: 54px;
}

.about-header3 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 34px;
}

.decoration {
    position: absolute;
    left: 1400px;
    top: 800px;

    /*background: url(flower_foto.png);*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-picture {
    position: relative;
    height: 403px;
    width: 609px;
    left: 0px;
    top: 0px;
    /*backdrop-filter: blur(2px);*/
    float: left;
    margin-right: 87px;
}

/* About styles end*/

.arrows {
    display: flex;
    align-items: center;
    justify-content: center;

}

.arrow-elips {
    position: relative;
    width: 62px;
    height: 62px;
    left: 0px;
    top: 0px;

    /* orange */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%) url(../../assets/images);
    border-radius: 50%;
    margin: 30px;
    color: white;
}

.animal-cards {
    top: 160px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin-bottom: 80px;
}

/* .animal-cards::before {
    display: block;
    content: '';
    width: 62px;
    height: 62px;
    left: 0px;
    top: 0px;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%) url(../../assets/images),
                url(../../assets/icons/arrow-left.svg) no-repeat;
    border-radius: 50%;
    margin: 30px;
}

.animal-cards::after {
    display: block;
    content: '';
    width: 62px;
    height: 62px;
    left: 0px;
    top: 0px;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%) url(../../assets/images),
                url(../../assets/icons/arrow-right.svg) no-repeat;
    border-radius: 50%;
    margin: 30px;
} */

.animal-card {
    box-sizing: border-box;
    width: 366px;
    height: 426px;

    border: 1px solid #FA6F32;
    border-radius: 5px;
    margin: 0;
}

.animal-card-img {
    width: 366px;
    height: 366px;
}

.animal-card-desc {
    margin-right: 12px;
    margin-bottom: 14px;
    margin-left: 16px;
}

.animal-food-banana {
    padding-right: 60px;
    background: url(../../assets/icons/banana-bamboo_icon.svg) no-repeat right center;
}

.animal-food-meet {
    padding-right: 60px;
    background: url(../../assets/icons/meet-fish_icon.svg) no-repeat right center;
}

.animal-card-caption {
    text-transform: uppercase;
    font-weight: 500;
    border: 0;
    background: transparent;
    display: block;
    padding: 0;
}

.animal-card-origin {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.about .rounded-btn {
    left: calc(50% - 298px/2);
    top: 2455px;
}

/* Pets end*/

/* Pick and feed section start */
.pick-and-feed {
    position: absolute;
    height: 1004px;
    left: 0px;
    right: 0px;
    top: 2609px;

    /* height: 1004px; */
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;
}

.pick-and-feed .wrapper {
    width: 1160px;
    height: 835px;
    border-radius: 20px;
    background-color: rgba(253, 253, 255, 0.52);
    /* filter: blur(4px); */
    margin: 69px auto 100px auto;
    padding: 40px 60px 60px 100px;
    color: #333B41;
}

.pick-and-feed-header {
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.pick-and-feed-subtitle {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 40px;
}

.pick-and-feed-link {
    text-decoration-color: #FE9013;
}

.pick-and-feed h3 {
    text-align: center;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 40px;
}

.pick-and-feed-workflow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pick-and-feed-step {
    width: 168px;
}

.pick-and-feed-step::after {
    background: #333B41;
    border: 0.5px solid #333B41;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.pick-and-feed-step-pic {
    width: 168px;
    height: 168px;
    border-width: 1px;
    border-style: solid;
    border-image:
        linear-gradient(
            113.96deg, #F9804B 1.49%, #FE9013 101.44%)
            1 1;

    border-radius: 5px;
    /* text-align: center; */

    margin-bottom: 30px;
}

.pick-and-feed-step:nth-of-type(1) div {
    background: url(../../assets/icons/pay-ico.svg) no-repeat center center;
    background-color: white;
}

.pick-and-feed-step:nth-of-type(2) div {
    background: url(../../assets/icons/zoo-ico.svg) no-repeat center center;
    background-color: white;
}

.pick-and-feed-step:nth-of-type(3) div {
    background: url(../../assets/icons/monkey.svg) no-repeat center center;
    background-color: white;
}

.pick-and-feed .rounded-btn {
    left: calc(50% - 298px/2);
    top: 791px;
}

/* Pick and feed section end */

/* Testimonials start */
.testimonials {
    position: absolute;
    height: 575px;
    top: 3613px;
    background: url(../../assets/images/leav_foto.png) no-repeat 1762.67px 4408.88px;
    /*transform: matrix(-0.86, -0.5, -0.5, 0.86, 0, 0);*/
}

.testimonials .wrapper {
    margin: 140px auto 204px auto;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 47px;
}

.testimonial-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    position: relative;
    /* padding-bottom: 29px; */
    margin-bottom: 60px;
}

.progress-bar {
    display: block;
    content:'';
    width: 599px;
    height: 8px;
    background: linear-gradient( #F1F3F2, #F1F3F2) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f1f3f2+0,f3a9f8+66,febdab+74,eaf7fe+100,e0d8f0+100 */
    /*background: rgb(241,243,242);*/ /* Old browsers */
    /*background: -moz-linear-gradient(-45deg, rgba(241,243,242,1) 0%, rgba(243,169,248,1) 66%, rgba(254,189,171,1) 74%, rgba(234,247,254,1) 100%, rgba(224,216,240,1) 100%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(-45deg, rgba(241,243,242,1) 0%,rgba(243,169,248,1) 66%,rgba(254,189,171,1) 74%,rgba(234,247,254,1) 100%,rgba(224,216,240,1) 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(135deg, rgba(241,243,242,1) 0%,rgba(243,169,248,1) 66%,rgba(254,189,171,1) 74%,rgba(234,247,254,1) 100%,rgba(224,216,240,1) 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f3f2', endColorstr='#e0d8f0',GradientType=1 ); IE6-9 fallback on horizontal gradient */
    border: 0.5px solid transparent;
    background: #F5F7F6;
    border-radius: 5px;
    position: absolute;
    left: calc(50% - 115.19px/2 - 242.4px);
    bottom: -50px;
}

.progress-bar-visible {
    width: 115.19px;
    height: 6px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}

.testimonial {
    box-sizing: border-box;
    /* position: absolute; */

    width: 268px;
    height: 391px;
    /* top: 94px; */

    /* gray_light */
    border-radius: 20px;

    background: linear-gradient( #F1F3F2, #F1F3F2) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 2px solid transparent;

    overflow: hidden;
}

.testimonial-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.testimonial .user-icon {
    width: 37px;
    height: 37px;
    margin-left: 16px;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.testimonial-header .user-name {
    font-weight: 400;
    line-height: 120%;
}

.testimonial-header .user-location {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */

    /* Gray 4 */
    color: #BDBDBD;
}

.testimonial-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    padding: 10px 16px 19px 16px;
}

.testimonials .rounded-btn {
    border-radius: 0;
}

/* Testimonials end */

/* Footer start */
.footer {
    position: absolute;
    height: 575px;
    width: 100%;
    top: 4388px;
    background-color: #111115;
}

.header-logo {
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.header-bamboo-ico {
    position: relative;
    left: 10px;
    top: -32px;
    width: 12px;
    height: 32px;
    z-index: 2;
}

.header-logo-text {
    color: white;
    text-decoration: none;
    font-size: 19.0145px;
    line-height: 120%;

    /* or 23px */
    text-align: center;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 36px;
    margin-top: 40px;
}

.subscribe-form p {
    background-color: #111115;
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-block-start: 0px;
    margin-block-end: 14px;
}

.subscribe-form .email {
    background-color: #111115;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    border-radius: 2px;
    padding: 10px;
    border: 0.7px solid #F9804B;
    margin-right: 10px;
}

.subscribe-form .submit {
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
    padding: 10px 39px;
    background: #F1F3F2;

    /* Green */
    border: 1px solid #4B9200;
    border-radius: 5px;
}

.footer .rounded-btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    margin-bottom: 44px;
}

.contacts-and-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .contacts {
    list-style-type: none;
    padding-inline-start: 0;
}

.footer .contact-item-ico {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    margin-right: 12px;
    border-radius: 50%;
    padding: 5px;
}

.footer .contact-item-name {
    color: white;
    font-size: 16px;
    line-height: 140%;
}

.copyright {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}

/* Footer end */
